
<% layout("/layout/boilerplate.ejs") %>

    <body>
        <br><br>
        <h3>Edit Your Listing</h3>

        <form method="post" action="/listings/<%=listing._id%>?_method=put" class="needs-validation" novalidate
            enctype="multipart/form-data">
            <div>
                <label for="title" class="form-label">title</label>
                <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                <div class="valid-feedback">
                    <b>Looks good!</b>
                </div>
                <div class="invalid-feedback">
                    Please choose a Title.
                </div>
            </div>
            <div>
                <label for="description" class="form-label">description</label>
                <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                <div class="valid-feedback">
                    Looks good Property!
                </div>
                <div class="invalid-feedback">
                    Please Enter Your Description.
                </div>
            </div>
            <br>
            <div>
                <label for="listingImage" >Original Image</label><br>
                <img src="<%=originalImage%>" alt="Listing image" id="listing-image">
            </div>

            <div>
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" class="form-control">
            </div>
            <!-- price-country -->
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label col-4">Price</label>
                    <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                    <div class="valid-feedback">
                        Wow This is Affordable Price!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Affordable Price.
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">country</label>
                    <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please Enter Country Name.
                    </div>
                </div>

            </div>
            <div class="row col-9 ">
                <div class="mb-1 col-md-8">
                    <label for="location" class="form-label">location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" placeholder="Enter location" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please Enter Location.
                    </div>
                </div>
                <div class="mb-1 col-md-4 ">
                    <label for="kind" class="form-label">Type</label>
                    <select name="listing[kind]" class="form-control" required>
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Mountains">Mountains</option>
                        <option value="castles">Castles</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Amazing pools">Amazing Pools</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                    </select>
                    <div class="invalid-feedback">
                        Please Enter kind Name Ex("farm, swim").
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-dark">Edit</button>
            <br><br><br>
        </form>

    </body>